:host {
  display: flex;
  justify-content: center;
  height: 92vh;
}

.small-tab {
  flex: 4 100px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: inherit;
}

.large-tab {
  flex: 3 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2px;
  height: inherit;
}

#recom-list-widget {
  height: 45%

}


#work-scheme-widget {
  height: 50%;
}


#status-info-widget{
  height: max-content;
}