.list-tab{
    height: 40px;
    border-radius: 2px;
    background: #272A38;
    display: flex;
    flex-wrap: nowrap;
    }
.body-list{
        padding: 10px 8px;
    }

    .info-tab{
        margin-right: 5px;
        opacity: 0.5;
    }