<dx-circular-gauge *ngIf="dataSource" [attr.title]="dataSource[0].tag +' / '+dataSource[0].date" 
id="circularGauge"
[value]="dataSource[0].value">
<dxo-value-indicator
    type="rangebar"
    color="#337ab7"
    size="5"
                     offset="-5">
</dxo-value-indicator>

<dxo-tooltip [enabled]="true"></dxo-tooltip>

<dxo-size
[height]="180"
[width]="180">
</dxo-size>
<dxo-scale
[startValue]="0"
[endValue]="maxScale"
>
<dxo-label indentFromTick="0" [visible]="false">
</dxo-label>
</dxo-scale>
<dxo-range-container [width]="6">
</dxo-range-container>
</dx-circular-gauge>
<div class="title-tab" *ngIf="dataSource" [attr.title]="dataSource[0].tag+' / '+dataSource[0].date">
    <div class="main-title">
        {{dataSource[0].value.toFixed(2)}} 
    </div>
    <div class="unit-title">
        {{dataSource[0].unit}}
    </div>
</div>