<dx-circular-gauge 
id="circularGauge"
[value]="value">
<dxo-value-indicator
    type="rangebar"
    [color]="(status)?'#00A73D':'#FF1D25'"
    [size]="5"
                     [offset]="-5">
</dxo-value-indicator>

<dxo-tooltip [enabled]="true"></dxo-tooltip>

<dxo-size
[height]="180"
[width]="180">
</dxo-size>
<dxo-scale
[startValue]="0"
[endValue]="maxValue"
>
<dxo-label [indentFromTick]="0" [visible]="false">
</dxo-label>
</dxo-scale>
<dxo-range-container [width]="6">
</dxo-range-container>
</dx-circular-gauge>
<div class="title-tab"  >
    <div class="main-title">
        {{value}}
    </div>
    <div class="unit-title">
       {{unit}}    </div>
</div>