<div class="dx-card body">
    <div class="dx-card-header">
        <img class="dx-icon-left" src="assets/svg/i-set-h.svg">
        <div class="dx-card-header-text">
            Рекомендации
        </div>
        <div class="right-tab">

            <img class="dx-icon-right" src="assets/svg/i-more.svg">
        </div>
    </div>
    <dx-scroll-view class="full-height-scrollable">
        <div class='body-list'>
            <dx-list id="tasks-list" [showSelectionControls]="false" [dataSource]="dataSource"
                [pullRefreshEnabled]="false"
                nextButtonText="Больше"
                >

                <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                <div *dxTemplate="let data of 'item'" class="recom-tab" >
                    <div class="recom-com">
                        {{data.description}}
                    </div>
                    <div class="recom-time">
                        <img src="assets/svg/i-timer.svg">
                        <div class="recom-time-num">
                            {{data.date}}
                        </div>
                    </div>
 
                </div>
            </dx-list>
        </div>
    </dx-scroll-view>
</div>