.recom-tab{
    background:   #272A38;
    height: 90px;
    margin: 4px;
    padding: 16px;
}
.recom-com{
    color: #D7E2F2;
    font-size: 13px;
    line-height: 18px;
    white-space: normal;    
}
.recom-time{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #8C99B2;
    font-size: 13px;
line-height: 16px;
}
.recom-time-num{
    margin-left: 6px;
}
#data-grid{
    height: 87%;
}
.bad{
    color: #FF1D25;
}
.warning{
    color: #F7931E;
}
.good{
    color: #00A73D;
}
