<div class="dx-card body">
  <div class="dx-card-header">
    <img class="dx-icon-left" src="assets/svg/i-set-h.svg">
    <div class="dx-card-header-text">
      Информационная сводка по скважине
    </div>
    <div class="right-tab">
      <img class="dx-icon-right" src="assets/svg/i-more.svg">
    </div>
  </div>
  <dx-scroll-view class="full-height-scrollable">


  <div class='body-list'>
   <dx-data-grid [dataSource]="dataSource" height="350px" [showColumnLines]="true">
   </dx-data-grid>
  </div>
</dx-scroll-view>
</div>
