    $bg-color: #12151E;
    $body-color: #1C1F2B;
    $list-color: #272A38;
    $list-color-active: #272A38;
    $accepted-color: #0089FF;
    $text-color-0:#FFFFFF;
    $text-color-1: #D7E2F2;
    $text-color-2:#D7E2F2;
    $text-color-3: #0089FF;
    $text-color-4: #F7931E;
    $text-color-5:#8C99B2;
    $text-add:#606580;