    <div class="left-tab">
        <div class="logo-code">
            <img width="150px" src="assets/svg/black-code-logo.png">
        </div>
        <div class="script-select">
            <dx-select-box class="dx-texteditor-input"
            [dataSource]="scriptData"
            [(value)]="selectedScript"
            placeholder="Сценарий MVP"
            (onValueChanged)="pushScript($event)"
        ></dx-select-box>
        </div>
        <div class="project-name">
            Мониторинг эффективности промывки скважин
        </div>
    </div>
    <div class="right-tab">
        <div class="user-profile">
            <img src="assets/svg/user-logo.svg">
            <div  class="user-info">
              <span class="icon-name-style">Денис Рябко</span>
              <span class="add-info">Супервайзер</span>
            </div>
          </div>

        <!-- <div class="notification-tab">
            <img  class="dx-icon-right"  src="assets/svg/notification.svg">
        </div> -->
        <div class="more-but">
            <img  class="dx-icon-right"  src="assets/svg/i-more.svg">
        </div>
    </div>

<!-- <img  class="svg-header"  src="assets/svg/mocs-header.svg">
 -->